* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#idDivTexto {
    border: 10px solid black;
    width: auto;
    height: auto;
}