
body {
    font-family: Arial, sans-serif;
    background-color: #1b75bb;
}

.idioma {
   text-align:right
}

.idioma select {
    background-color: #1b75bb;
    color: white;
    border: none;
}

.logo {
    text-align: center;
    padding: 30px; 
}

.logo img {
    width: 150px;
    height: auto;
}

.formulario {
    width: 400px;
    margin: auto;
    background-color: white;
    padding: 25px;
}

.titulo {
    text-align: center;
    font-size: 24px;
    color: #1b75bb;
    font-weight: bold;
}

.obligatorio {
    text-align: center;
    font-size: 12px;
    color: gray;
}

.boton input {
    width: 100%;
    background-color: #1b75bb;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
}

.condiciones {
    font-size: 11px;
}

.condiciones a {
    color: #1b75bb;
    text-decoration: none;
}
